.section,
.hero-content-wrapper,
.prefooter {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2% 2% 10%;
}
.header,
.hero-text-section .hero-title,
.prefooter-text-wrapper .prefooter-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 300;
}
/* === RESETS === */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
/* Chrome/Opera/Safari/Edge */
::-webkit-input-placeholder {
  color: #000000;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
/* Firefox 18- */
:-moz-placeholder {
  color: #000000;
  opacity: 1;
}
/* IE 11 */
select,
option {
  /* Chrome/Opera/Safari/Edge/IE Mobile */
  -webkit-appearance: none;
  /* Firefox 61+ */
  -moz-appearance: none;
}
strong {
  font-weight: bold;
}
legend {
  color: transparent;
  line-height: 0;
}
input,
select,
textarea {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 2% 0;
  opacity: 1;
  border-bottom: 1px solid #000000;
  resize: none;
}
select::-ms-expand {
  display: none;
}
i {
  padding-right: 2%;
}
/* === MAIN === */
.main-wrapper {
  position: relative;
}
.main-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('images/bg-lines.png') no-repeat 100% 100%;
  background-size: contain;
}
/* === HERO SECTION === */
.hero-img-section {
  position: relative;
}
.hero-img-section:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 80%;
  z-index: -1;
  background: url(images/icon-plus.png) space;
  background-size: 18px 18px;
}
.hero-img-section .hero-img-wrapper {
  padding-bottom: 5%;
}
.hero-img-section .hero-img-wrapper .hero-img {
  max-width: 80%;
}
.hero-img-section .hero-img-wrapper .hero-img-caption {
  display: inline-block;
  background-color: #fff;
  font-size: 80%;
  opacity: 0.6;
  padding-top: 1%;
}
.hero-text-section {
  padding-top: 5%;
}
.hero-text-section .hero-title {
  color: #7cd0f6;
}
.hero-text-section .hero-title strong {
  color: #ff6620;
  text-transform: uppercase;
}
.hero-text-section .hero-text {
  padding: 5% 0;
  font-family: 'Quicksand', sans-serif;
}
.hero-text-section .hero-text span {
  color: #7cd0f6;
  font-style: italic;
  font-weight: 600;
}
.hero-text-section .hero-link {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ff6620;
  font-size: 14px;
}
.hero-text-section .hero-link:hover,
.hero-text-section .hero-link:focus {
  text-decoration: underline;
}
/* === PREFOOTER SECTION === */
.prefooter {
  position: relative;
}
.prefooter-form-wrapper {
  width: 100%;
  padding-bottom: 5%;
}
.prefooter-form-wrapper .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-width: 300px;
}
.prefooter-form-wrapper .form-group-btn {
  align-items: center;
}
.prefooter-form-wrapper .form-group-btn .form-btn {
  width: 50%;
  font-size: 18px;
  padding: 8px 5px;
  color: #fff;
  background-color: #ff6620;
  border-radius: 0;
  border: 1px solid #ff6620;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}
.prefooter-form-wrapper .form-group-btn p {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  padding-top: 2%;
}
.prefooter-text-wrapper {
  width: 100%;
  padding-top: 5%;
}
.prefooter-text-wrapper .prefooter-title {
  color: #ff6620;
}
.prefooter-text-wrapper .prefooter-title strong {
  text-transform: uppercase;
}
.prefooter-text-wrapper .company-details {
  padding-top: 5%;
}
.prefooter-text-wrapper .company-details p {
  font-size: 14px;
}
.prefooter-text-wrapper .company-contacts p {
  padding-top: 2%;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */