* {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;

}

h1, h2, p {
    margin: 0;

}

figure {
   margin: 0;
    background-image: url('images/icon-plus.png');

}

figcaption {
    background-color: #fff;
    width: 50%;
    padding: 1% 2.5% 2.5% 0;
    font-size: calc(.5rem + .5vw);

}

fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
    color: transparent;
    line-height: 0;
}

input, select, textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000000;

    border: none;
    border-bottom: 1px solid #000000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000000;

}
:-ms-input-placeholder { /* IE 10+ */
    color: #000000;

}
:-moz-placeholder { /* Firefox 18- */
    color: #000000;

}

.main-content-wrapper,
.prefooter {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

.main-content-wrapper {
    margin-bottom: 10%;
}

.main-img-wrapper {
    justify-content: flex-start;
}

.main-img-wrapper,
.main-text-wrapper {
    /*flex: 0 0 50%;*/
    /*flex-basis: 50%;*/

}

.main-img-wrapper img {
    width: 80%;
    vertical-align: middle;
}

.main-text-wrapper div {
    padding-top: 2.5%;
    padding-left: 5%;

}

.main-text-wrapper h1 {
    text-transform: uppercase;
}

.main-text-wrapper h2 {
    font-weight: 200;
    color: #7cd0f6;
}

.main-text-wrapper p,
.main-text-wrapper span {
    font-family: Lato, sans-serif;
    letter-spacing: 0;
    font-size: calc(.5rem + .5vw);
}

.main-text-wrapper p {
    padding-top: 5%;
    padding-bottom: 5%;

}

.main-text-wrapper span {
    color: #7cd0f6;
    font-style: italic;
    font-weight: 600;
}

.main-text-link {
    text-decoration: none;
    color: #ff6620;
    font-size: calc(.5rem + .4vw);
}

.main-text-link:hover,
.main-text-link:focus {
    text-decoration: underline;
}

.main-text-link::before {
    /*content: "";*/
    /*position: absolute;*/
    /*display: block;*/
    /*right: 1.75rem;*/
    /*top: 50%;*/
    /*font-family: 'FontAwesome';*/
    /*font-size: 2.25em;*/
    /*content: '\2192';*/
    /*-webkit-transform: translate(0,-50%);*/
    /*transform: translate(0,-50%);*/
}

.prefooter {
    display: flex;
}

@media screen and (min-width: 600px) {
    .main-img-wrapper,
    .main-text-wrapper,
    .prefooter-form-wrapper,
    .prefooter-text-wrapper {
        /*flex-basis: 50%;*/
        flex: 0 0 50%;
    }

}
