.section,
.hero-content-wrapper,
.prefooter {
  max-width: 1400px;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  margin: 0 auto;
  padding: 2% 2% 10%;
}
@media only screen and (min-width: 760px) {
  .section,
  .hero-content-wrapper,
  .prefooter {
    flex-direction: row;
  }
}
.header,
.hero-text-section .hero-title,
.prefooter-text-wrapper .prefooter-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 300;
}
/* === RESETS === */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
/* Chrome/Opera/Safari/Edge */
::-webkit-input-placeholder {
  color: #000000;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
/* Firefox 18- */
:-moz-placeholder {
  color: #000000;
  opacity: 1;
}
/* IE 11 */
:-ms-input-placeholder {
  color: #000000;
}
select,
option {
  /* Chrome/Opera/Safari/Edge/IE Mobile */
  -webkit-appearance: none;
  /* Firefox 61+ */
  -moz-appearance: none;
}
strong {
  font-weight: bold;
}
legend {
  color: transparent;
  line-height: 0;
}
input,
select,
textarea {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 2% 0;
  opacity: 1;
  border-bottom: 1px solid #000000;
  resize: none;
}
select::-ms-expand {
  display: none;
}
label {
  width: 100%;
}
i {
  padding-right: 2%;
}
/* === MAIN === */
.main-wrapper {
  position: relative;
}
.main-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('images/bg-lines.png') no-repeat 100% 100%;
  background-size: contain;
  z-index: -1;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .main-wrapper::before {
    background-image: url('images/bg-lines@2x.png');
  }
}
@media only screen and (min-width: 760px) {
  .main-wrapper::before {
    background-size: 60%;
  }
}
/* === HERO SECTION === */
.hero-content-wrapper {
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}
.hero-img-section {
  position: relative;
}
.hero-img-section:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 80%;
  z-index: -1;
  background: url(images/icon-plus.png) space;
  background-size: 18px 18px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .hero-img-section:before {
    background-image: url('images/icon-plus@2x.png');
  }
}
@media only screen and (min-width: 760px) {
  .hero-img-section:before {
    background-size: 23px;
  }
}
.hero-img-section .hero-img-wrapper {
  padding-bottom: 5%;
}
.hero-img-section .hero-img-wrapper .hero-img {
  max-width: 80%;
}
.hero-img-section .hero-img-wrapper .hero-img-caption {
  display: inline-block;
  background-color: #fff;
  font-size: 80%;
  opacity: 0.6;
  padding-top: 1%;
}
.hero-text-section {
  padding-top: 5%;
}
.hero-text-section .hero-title {
  color: #7cd0f6;
}
.hero-text-section .hero-title strong {
  color: #ff6620;
  text-transform: uppercase;
}
@media only screen and (min-width: 760px) {
  .hero-text-section .hero-title {
    font-size: 30px;
  }
}
.hero-text-section .hero-text {
  padding: 5% 0;
  font-family: 'Quicksand', sans-serif;
}
.hero-text-section .hero-text span {
  color: #7cd0f6;
  font-style: italic;
  font-weight: 600;
}
.hero-text-section .hero-link {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #ff6620;
  font-size: 14px;
}
.hero-text-section .hero-link:hover,
.hero-text-section .hero-link:focus {
  text-decoration: underline;
}
/* === PREFOOTER SECTION === */
.prefooter {
  position: relative;
}
.prefooter-form-wrapper {
  width: 100%;
  padding-bottom: 5%;
  text-align: right;
}
.prefooter-form-wrapper form {
  display: flex;
  justify-content: center;
}
.prefooter-form-wrapper form fieldset {
  width: 65%;
}
@media only screen and (min-width: 760px) {
  .prefooter-form-wrapper form {
    justify-content: flex-end;
  }
}
.prefooter-form-wrapper .form-group {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  min-width: 300px;
}
@media only screen and (min-width: 992px) {
  .prefooter-form-wrapper .form-group {
    flex-direction: row;
  }
  .prefooter-form-wrapper .form-group label:nth-child(2) {
    margin-left: 20px;
  }
}
.prefooter-form-wrapper .form-group-btn {
  margin-top: 20px;
  align-items: center;
}
.prefooter-form-wrapper .form-group-btn .form-btn {
  width: 50%;
  font-size: 18px;
  padding: 8px 5px;
  color: #fff;
  background-color: #ff6620;
  border-radius: 0;
  border: 1px solid #ff6620;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}
@media only screen and (min-width: 992px) {
  .prefooter-form-wrapper .form-group-btn .form-btn {
    width: 50px;
    color: #ff6620;
    background-color: transparent;
  }
}
.prefooter-form-wrapper .form-group-btn p {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  padding-top: 2%;
}
@media only screen and (min-width: 992px) {
  .prefooter-form-wrapper .form-group-btn p {
    align-self: flex-end;
    padding-left: 25px;
  }
}
.prefooter-form-wrapper .custom-caret {
  position: relative;
}
.prefooter-form-wrapper .custom-caret::after {
  content: "\f107";
  font-family: 'FontAwesome', sans-serif;
  font-weight: bold;
  padding: 2%;
  right: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
}
.prefooter-form-wrapper label {
  margin-top: 20px;
}
.prefooter-text-wrapper {
  width: 100%;
  padding-top: 5%;
}
.prefooter-text-wrapper .prefooter-title {
  color: #ff6620;
}
.prefooter-text-wrapper .prefooter-title strong {
  text-transform: uppercase;
}
@media only screen and (min-width: 760px) {
  .prefooter-text-wrapper .prefooter-title {
    font-size: 30px;
  }
}
.prefooter-text-wrapper .company-details {
  padding-top: 5%;
  font-size: 14px;
}
.prefooter-text-wrapper .company-contacts {
  font-size: 14px;
}
.prefooter-text-wrapper .company-contacts p {
  padding-top: 2%;
}
.prefooter-scroll-link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1.5em;
}
.prefooter-scroll-link .scroll-top-link-wrapper {
  transform: rotate(90deg);
  transform-origin: right top 0;
}
@media only screen and (min-width: 760px) {
  .prefooter-scroll-link .scroll-top-link-wrapper {
    transform-origin: 8% 50%;
  }
}
.prefooter-scroll-link .scroll-top-link {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.prefooter-scroll-link .scroll-top-link:hover,
.prefooter-scroll-link .scroll-top-link:focus {
  color: #ff6620;
}
.prefooter-scroll-link .arrow-left {
  width: 50px;
  height: 16px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.prefooter-scroll-link .arrow-left span {
  position: absolute;
  height: 1px;
  background-color: #000000;
}
.prefooter-scroll-link .arrow-left span:first-child {
  width: 50px;
  top: 70%;
}
.prefooter-scroll-link .arrow-left span:nth-child(2) {
  width: 10px;
  top: 70%;
  transform: rotate(-45deg);
  left: 0;
  transform-origin: bottom left;
}
.prefooter-scroll-link .arrow-left span:nth-child(3) {
  width: 10px;
  top: 70%;
  transform: rotate(45deg);
  left: 0;
  transform-origin: top left;
}
@media only screen and (min-width: 760px) {
  .prefooter-scroll-link {
    right: auto;
    bottom: auto;
    left: 0;
    padding-left: 2%;
  }
}
/* === FOOTER === */
.footer {
  display: flex;
  justify-content: center;
  background-color: #ff6620;
}
.footer .footer-wrapper {
  max-width: 1400px;
  height: 8vh;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  color: #ffffff;
  padding: 2%;
  justify-content: space-between;
  flex: 1 0 100%;
  font-size: 12px;
}
.footer .footer-wrapper p {
  opacity: 0.7;
}
.footer .logo-wrapper {
  font-size: 0;
  flex: 0 0 97px;
  padding-left: 5%;
}
.footer .logo-link {
  display: inline-block;
  background: url('images/dynamix-logo-white.png') no-repeat;
  background-size: contain;
  width: 97px;
  height: 24px;
}
.footer .logo-link:hover,
.footer .logo-link:focus {
  opacity: 0.5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .footer .logo-link {
    background-image: url('images/dynamix-logo-white@2x.png');
  }
}
@media only screen and (min-width: 760px) {
  .hero-content-wrapper,
  .prefooter {
    padding: 0 2% 50px;
  }
  .hero-img-section,
  .prefooter-form-wrapper {
    flex: 0 0 50%;
  }
  .hero-text-section,
  .prefooter-text-wrapper {
    flex-grow: 1;
  }
  .hero-text-section,
  .prefooter-text-wrapper {
    padding-left: 3em;
  }
  .prefooter-text-wrapper {
    padding-top: 0;
  }
}
@supports (-moz-appearance:none) {
  .hero-img-section::before {
    background-repeat: round;
  }
}
/*# sourceMappingURL=styles.css.map */