* {
    box-sizing: border-box;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 16px;

}

.body-background {
    position: absolute;
    width: 60%;
    height: 50%;
    bottom: 8vh;
    right: 0;
    background-image: url('images/bg-lines.png');
    background-repeat: no-repeat;
    z-index: -1;
}

h1, h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 300;
}

p {
    font-family: 'Quicksand', sans-serif;

}


figure {
   margin: 0;
}

figcaption {
    display: inline-block;
    background-color: #fff;
    padding: 1% 2.5% 2.5% 0;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    color: #989696;
}

fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    color: transparent;
    line-height: 0;
}

input, select, textarea {
    font-family: 'Barlow', sans-serif;
    width: 100%;
    padding: 2% 0;
    margin: 0;
    color: #000000;
    border: none;
    border-bottom: 1px solid #000000;
}

label:nth-child(2) {
    margin-top: 20px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
    color: #000000;
}

i {
    padding-right: 2%;
}

.main-content-wrapper,
.prefooter {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2% 2% 10%;
}

.main-text-wrapper,
.prefooter-text-wrapper {
    padding-top: 5%;
}

/* === MAIN SECTION === */

.main-img-wrapper {
    position: relative;
    justify-content: flex-start;
}

.main-img-background {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    right: 0;
    background-image: url('images/icon-plus.png');
    z-index: -1;
}

.main-img-wrapper img {
    max-width: 80%;
    vertical-align: middle;
}

.main-text-wrapper h1 {
    color: #7cd0f6;

}

.main-text-wrapper h1 span {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff6620;
}

.main-text-wrapper p,
.main-text-wrapper p span {
    font-family: 'Quicksand', sans-serif;
    /*font-size: 14px;*/
}

.main-text-wrapper p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-text-wrapper p span {
    color: #7cd0f6;
    font-style: italic;
    font-weight: 600;
}

.main-text-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ff6620;
    font-size: 14px;
}

.main-text-link:hover,
.main-text-link:focus {
    text-decoration: underline;
}

.prefooter {
    display: flex;
    flex-direction: column;
    position: relative;
}

.prefooter-form-wrapper,
.prefooter-text-wrapper {
    width: 100%;
    height: 100%;
}

.prefooter-text-wrapper h2 {
    color: #ff6620;
}

.prefooter-text-wrapper h2 span {
    font-weight: bold;
    text-transform: uppercase;
}

.prefooter-text-wrapper div {
    padding-top: 5%;
}

.prefooter-text-wrapper p {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.prefooter-form-wrapper {
    padding-bottom: 10%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/*To remove button from IE11, thank you Matt */
select::-ms-expand {
    display: none;
}

select, option {
    -webkit-appearance: none; /* WebKit/Chromium */
    -moz-appearance: none; /* Gecko */
}

.custom-caret {
    position: relative;
}

.custom-caret::after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-weight: 700;
    color: #484848;
    padding-top: 2%;
    right: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    z-index: 0;
    width: 40px;
    text-align: center;
}

.form-group {
    margin-top: 20px;
    min-width: 300px;
}

.form-group:last-child {
    align-items: center;
    /*flex-direction: row;*/
}

.form-group p {
    width: 100%;
    align-self: flex-end;
    /*padding-left: 25px;*/
    font-size: 12px;
    padding-top: 2%;
    text-align: center;
}

.form-btn {
    width: 50%;
    font-size: 18px;
    padding: 8px 5px;
    color: #ff6620;
    border-radius: 0;
    border: 1px solid #ff6620;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 0 100%;
    background-color: transparent;
    transition: background-size .3s, color .3s;
}

.company-details {
    padding-top: 2%;
}

.footer {
    background-color: #ff6620;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 100%;
    max-width: 1400px;
    height: 8vh;
    display: flex;
    color: #eecec0;
    padding: 2%;
    justify-content: space-between;
}

.footer-wrapper * {
    align-self: center;
}

.footer-wrapper p {
    font-size: 10px;
    width: 60%;
}

.footer-wrapper div {
    display: flex;
}

/* === Scroll Top Link === */

.scroll-top {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2%;
}

.scroll-top div {
    transform: rotate(90deg);
    transform-origin: right top 0;
}

.scroll-top-link {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.scroll-top-link:hover,
.scroll-top-link:focus {
    color: #ff6620;
}

.arrow-left {
    width: 50px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.arrow-left span {
    position: absolute;
    height: 1px;
    background-color: #000000;
}

.arrow-left span:first-child {
    width: 50px;
    top: 70%;
}

.arrow-left span:nth-child(2) {
    width: 10px;
    top: 70%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.arrow-left span:nth-child(3) {
    width: 10px;
    top: 70%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}


@media screen and (min-width: 600px) {

    h1, h2 {
        font-size: 26px;
    }

    .main-content-wrapper,
    .prefooter {
        flex-direction: row;
        padding: 0 2% 35px;
    }

    .main-img-wrapper,
    .main-text-wrapper,
    .prefooter-form-wrapper,
    .prefooter-text-wrapper {
        flex: 0 0 50%;
    }

    .body-background {
        /*width: 60%;*/
        /*height: 50%;*/
        /*background-image: url('images/bg-lines@2x.png');*/
    }

    /*.main-img-background {*/
        /*background-image: url('images/icon-plus@2x.png');*/
    /*}*/

    .main-text-wrapper,
    .prefooter-text-wrapper {
        padding-left: 50px;
    }

    .prefooter-form-wrapper {
        padding-bottom: 0;
    }

    .prefooter-text-wrapper {
        padding-top: 0;
    }

    form {
        display: flex;
        justify-content: flex-end;
    }

    .form-btn {
        width: 50px;
    }

    .form-group:last-child {
        flex-direction: row;
    }

    .form-group p {
        text-align: left;
        padding-left: 25px;
    }

    .scroll-top {
        right: auto;
        bottom: auto;
    }

    .scroll-top div {
        transform-origin: 8% 50%;
    }
}

@media screen and (min-width: 960px) {
    .form-group {
        flex-direction: row;
    }

    .form-group label:nth-child(2) {
        margin-left: 20px;
        margin-top: 0;
    }

    label {
        width: 50%;
    }

    .main-text-wrapper p,
    .main-text-wrapper span {
        /*font-size: 18px;*/
    }
}

